body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
   background: rgb(251,225,227);
background: linear-gradient(180deg, rgba(251,225,227,1) 36%, rgba(241,250,251,1) 67%);
    justify-content: center;
    align-items: center;

}

html {
    height: 100%;
    margin: 0;
}

#generateButton {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    height: 40px;
    width: 180px;
    font-size: 15px;
    border-radius: 20px;
    border-color: white;
    background-color: #6b608f;
    color: white;
    margin-top: 40px
    display: block;


}

footer {
    margin-top: auto;
    background-color: transparent;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
    margin-bottom: 40px;
}
ul {
    list-style-type: none;
    line-height: 18pt;
    font-size: 12pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0;
}



#container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#hContainer{
    text-align: center;
}

#rContainer{
text-align: center;

}
#result{
    display: inline-block;
    max-width: 40%;
    margin-left: -5vh;
    margin-top: 5%;
}
#btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 0;

}


.first{
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    height: 400px;
    margin-left: 110px;
    margin-top: 140px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

    .year{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        position: absolute;
        top: 17px;
        left: 265px;
        color: white;
    }
body {
  margin:0px;
  font-family:'Roboto';
  text-align:center;
}

#container {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;  
  position:fixed;
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}


